@import "./font.css";
@import "./highlight.css";

body {
    @apply text-gray-900;
}

svg > path {
    fill: theme("colors.gray.800");
}

hr {
    border-color: theme("colors.gray.700");
}

.bg-none {
    background: none;
}

.bg-paper {
    background-attachment: local;
    background-color: theme("colors.background");
    background-size: 410px 410px;
    background-image: url("~assets/img/paper.png");
}

.bg-gradiant-noise {
    background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(0, 0, 0, 0.87) 42%), url("~assets/svg/noise.svg");
}

.filter-custom {
    transition: filter 0.2s;
    filter: saturate(0) sepia(10%);
}

.hover\:filter-none:hover {
    filter: none;
}
