@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
    font-family: "Victor Mono";
    src: local("Victor Mono ExtraLight Oblique"),
        local("VictorMono-ExtraLightOblique"),
        url("~assets/fonts/VictorMono/VictorMono-ExtraLightOblique.woff2")
            format("woff2"),
        url("~assets/fonts/VictorMono/VictorMono-ExtraLightOblique.woff")
            format("woff"),
        url("~assets/fonts/VictorMono/VictorMono-ExtraLightOblique.ttf")
            format("truetype");
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: "Victor Mono";
    src: local("Victor Mono SemiBold Italic"),
        local("VictorMono-SemiBoldItalic"),
        url("~assets/fonts/VictorMono/VictorMono-SemiBoldItalic.woff2")
            format("woff2"),
        url("~assets/fonts/VictorMono/VictorMono-SemiBoldItalic.woff")
            format("woff"),
        url("~assets/fonts/VictorMono/VictorMono-SemiBoldItalic.ttf")
            format("truetype");
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: "Victor Mono";
    src: local("Victor Mono Bold Italic"), local("VictorMono-BoldItalic"),
        url("~assets/fonts/VictorMono/VictorMono-BoldItalic.woff2")
            format("woff2"),
        url("~assets/fonts/VictorMono/VictorMono-BoldItalic.woff")
            format("woff"),
        url("~assets/fonts/VictorMono/VictorMono-BoldItalic.ttf")
            format("truetype");
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "Victor Mono";
    src: local("Victor Mono Regular"), local("VictorMono-Regular"),
        url("~assets/fonts/VictorMono/VictorMono-Regular.woff2") format("woff2"),
        url("~assets/fonts/VictorMono/VictorMono-Regular.woff") format("woff"),
        url("~assets/fonts/VictorMono/VictorMono-Regular.ttf")
            format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Victor Mono Oblique";
    src: local("Victor Mono Bold Oblique"), local("VictorMono-BoldOblique"),
        url("~assets/fonts/VictorMono/VictorMono-BoldOblique.woff2")
            format("woff2"),
        url("~assets/fonts/VictorMono/VictorMono-BoldOblique.woff")
            format("woff"),
        url("~assets/fonts/VictorMono/VictorMono-BoldOblique.ttf")
            format("truetype");
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "Victor Mono";
    src: local("Victor Mono Thin Italic"), local("VictorMono-ThinItalic"),
        url("~assets/fonts/VictorMono/VictorMono-ThinItalic.woff2")
            format("woff2"),
        url("~assets/fonts/VictorMono/VictorMono-ThinItalic.woff")
            format("woff"),
        url("~assets/fonts/VictorMono/VictorMono-ThinItalic.ttf")
            format("truetype");
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: "Victor Mono Oblique";
    src: local("Victor Mono Oblique"), local("VictorMono-Oblique"),
        url("~assets/fonts/VictorMono/VictorMono-Oblique.woff2") format("woff2"),
        url("~assets/fonts/VictorMono/VictorMono-Oblique.woff") format("woff"),
        url("~assets/fonts/VictorMono/VictorMono-Oblique.ttf")
            format("truetype");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "Victor Mono";
    src: local("Victor Mono Medium"), local("VictorMono-Medium"),
        url("~assets/fonts/VictorMono/VictorMono-Medium.woff2") format("woff2"),
        url("~assets/fonts/VictorMono/VictorMono-Medium.woff") format("woff"),
        url("~assets/fonts/VictorMono/VictorMono-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Victor Mono";
    src: local("Victor Mono Light Italic"), local("VictorMono-LightItalic"),
        url("~assets/fonts/VictorMono/VictorMono-LightItalic.woff2")
            format("woff2"),
        url("~assets/fonts/VictorMono/VictorMono-LightItalic.woff")
            format("woff"),
        url("~assets/fonts/VictorMono/VictorMono-LightItalic.ttf")
            format("truetype");
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: "Victor Mono";
    src: local("Victor Mono Medium Italic"), local("VictorMono-MediumItalic"),
        url("~assets/fonts/VictorMono/VictorMono-MediumItalic.woff2")
            format("woff2"),
        url("~assets/fonts/VictorMono/VictorMono-MediumItalic.woff")
            format("woff"),
        url("~assets/fonts/VictorMono/VictorMono-MediumItalic.ttf")
            format("truetype");
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: "Victor Mono";
    src: local("Victor Mono Italic"), local("VictorMono-Italic"),
        url("~assets/fonts/VictorMono/VictorMono-Italic.woff2") format("woff2"),
        url("~assets/fonts/VictorMono/VictorMono-Italic.woff") format("woff"),
        url("~assets/fonts/VictorMono/VictorMono-Italic.ttf") format("truetype");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "Victor Mono";
    src: local("Victor Mono Thin"), local("VictorMono-Thin"),
        url("~assets/fonts/VictorMono/VictorMono-Thin.woff2") format("woff2"),
        url("~assets/fonts/VictorMono/VictorMono-Thin.woff") format("woff"),
        url("~assets/fonts/VictorMono/VictorMono-Thin.ttf") format("truetype");
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: "Victor Mono";
    src: local("Victor Mono Bold"), local("VictorMono-Bold"),
        url("~assets/fonts/VictorMono/VictorMono-Bold.woff2") format("woff2"),
        url("~assets/fonts/VictorMono/VictorMono-Bold.woff") format("woff"),
        url("~assets/fonts/VictorMono/VictorMono-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Victor Mono";
    src: local("Victor Mono SemiBold"), local("VictorMono-SemiBold"),
        url("~assets/fonts/VictorMono/VictorMono-SemiBold.woff2")
            format("woff2"),
        url("~assets/fonts/VictorMono/VictorMono-SemiBold.woff") format("woff"),
        url("~assets/fonts/VictorMono/VictorMono-SemiBold.ttf")
            format("truetype");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Victor Mono";
    src: local("Victor Mono Light"), local("VictorMono-Light"),
        url("~assets/fonts/VictorMono/VictorMono-Light.woff2") format("woff2"),
        url("~assets/fonts/VictorMono/VictorMono-Light.woff") format("woff"),
        url("~assets/fonts/VictorMono/VictorMono-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Victor Mono";
    src: local("Victor Mono Thin Oblique"), local("VictorMono-ThinOblique"),
        url("~assets/fonts/VictorMono/VictorMono-ThinOblique.woff2")
            format("woff2"),
        url("~assets/fonts/VictorMono/VictorMono-ThinOblique.woff")
            format("woff"),
        url("~assets/fonts/VictorMono/VictorMono-ThinOblique.ttf")
            format("truetype");
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: "Victor Mono";
    src: local("Victor Mono ExtraLight Italic"),
        local("VictorMono-ExtraLightItalic"),
        url("~assets/fonts/VictorMono/VictorMono-ExtraLightItalic.woff2")
            format("woff2"),
        url("~assets/fonts/VictorMono/VictorMono-ExtraLightItalic.woff")
            format("woff"),
        url("~assets/fonts/VictorMono/VictorMono-ExtraLightItalic.ttf")
            format("truetype");
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: "Victor Mono";
    src: local("Victor Mono ExtraLight"), local("VictorMono-ExtraLight"),
        url("~assets/fonts/VictorMono/VictorMono-ExtraLight.woff2")
            format("woff2"),
        url("~assets/fonts/VictorMono/VictorMono-ExtraLight.woff")
            format("woff"),
        url("~assets/fonts/VictorMono/VictorMono-ExtraLight.ttf")
            format("truetype");
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: "Victor Mono";
    src: local("Victor Mono Light Oblique"), local("VictorMono-LightOblique"),
        url("~assets/fonts/VictorMono/VictorMono-LightOblique.woff2")
            format("woff2"),
        url("~assets/fonts/VictorMono/VictorMono-LightOblique.woff")
            format("woff"),
        url("~assets/fonts/VictorMono/VictorMono-LightOblique.ttf")
            format("truetype");
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: "Victor Mono";
    src: local("Victor Mono SemiBold Oblique"),
        local("VictorMono-SemiBoldOblique"),
        url("~assets/fonts/VictorMono/VictorMono-SemiBoldOblique.woff2")
            format("woff2"),
        url("~assets/fonts/VictorMono/VictorMono-SemiBoldOblique.woff")
            format("woff"),
        url("~assets/fonts/VictorMono/VictorMono-SemiBoldOblique.ttf")
            format("truetype");
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: "Victor Mono";
    src: local("Victor Mono Medium Oblique"), local("VictorMono-MediumOblique"),
        url("~assets/fonts/VictorMono/VictorMono-MediumOblique.woff2")
            format("woff2"),
        url("~assets/fonts/VictorMono/VictorMono-MediumOblique.woff")
            format("woff"),
        url("~assets/fonts/VictorMono/VictorMono-MediumOblique.ttf")
            format("truetype");
    font-weight: 500;
    font-style: italic;
}

.base {
    background-color: #f1f3f3;
    background-size: 410px 410px;
    background-image: url("~assets/img/paper.png");
    max-height: 2160px;
    max-width: 3840px;
    transform: rotate(-0.1deg);
}

p {
    isolation: isolate;
}

a,
mark {
    background-blend-mode: multiply;
    border-radius: 0 1px 0 3px;
    box-decoration-break: clone;
    display: inline-block;
    margin-left: -0.2em;
    mix-blend-mode: multiply;
    padding: 0 0.2em;
    position: relative;
    white-space: nowrap;
}

mark {
    transform: skewX(1deg) rotate(1deg);
}

mark + mark {
    border-radius: 0 0 4px 0;
    transform: skewX(-1deg) rotate(1deg);
}

mark:nth-of-type(3) {
    border-radius: 0 4px 0 0;
    transform: skewX(-2deg) rotate(1deg);
}

mark:nth-of-type(5) {
    border-radius: 0 4px 0 0;
    transform: skewX(-2deg) rotate(-1deg);
}

mark:nth-of-type(6) {
    border-radius: 4px 0 0 0;
    transform: skewX(2deg) rotate(1deg);
}

a[href*="//"] {
    background: linear-gradient(
        to top,
        hsl(330, 100%, 87%) 44%,
        transparent 56%
    );
}

a[href*="//"]:hover {
    background: linear-gradient(
        to top,
        hsl(330, 100%, 82%) 44%,
        transparent 56%
    );
}

a[href*="//"]:focus {
    background: linear-gradient(
        to top,
        hsl(330, 100%, 72%) 48%,
        transparent 52%
    );
}

.redacted {
    @apply shadow;

    background-color: #f1f3f3;
    background-image: url("~assets/img/paper.png");
    background-size: 410px 410px;
    color: transparent;
    filter: invert(1);
}
